@media screen and (max-width: 768px) {
  .carouselBox {
    position: relative;
    height: 220px;
  }
  .carouselContainer {
    position: absolute;
    width: 100%;
    text-align: left;
    padding: 0 16px;
    bottom: 25%;
  }
  .carouselTitle {
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
  }
  .carouselContent {
    margin: 8px 0px;
    color: white;
  }
  .carouselBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(61, 68, 81);
    text-decoration: none;
    color: white;
    line-height: 46px;
    padding: 0 16px;
    margin-top: 12px;
    font-size: 14px;
    border-radius: 8px;
  }
  .carouselBtn:hover {
    background-color: rgb(48, 54, 64);
  }
  .carouselBtn svg {
    width: 20px;
    height: 20px;
  }
}
@media all and (min-width: 768px) {
  .carouselBox {
    position: relative;
    height: 70vh;
  }
  .carouselContainer {
    position: absolute;
    width: 100%;
    text-align: left;
    padding: 0 40px;
    bottom: 33.33333%;
  }
  .carouselTitle {
    font-size: 36px;
    color: white;
    font-weight: 700;
  }
  .carouselContent {
    margin: 8px 0px;
    color: white;
  }
  .carouselBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(61, 68, 81);
    text-decoration: none;
    color: white;
    line-height: 46px;
    padding: 0 16px;
    margin-top: 12px;
    font-size: 14px;
    border-radius: 8px;
  }
  .carouselBtn:hover {
    background-color: rgb(48, 54, 64);
  }
  .carouselBtn svg {
    width: 20px;
    height: 20px;
  }
}
