@media screen and (max-width: 768px){
  .header{
    padding: 8px 16px;
    display: flex;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
  }
  .navbar{
    display: flex;
    align-items: center;
    max-width: 767px;
    min-width: 320px;
    width: 100%;

  }
  a:visited{
    color: inherit;
  }
  .listcontainer{
    display: block;
    position: absolute;
    top: 0;
    left: -100vw;
  }
  .listcontainer.active{
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: 99;
  }
  .listcontainer.active .listbackground{
    background-color: #29303d66;
    height: 100vh;
    width: 100vw;
    position: relative;
  }
  .light .listcontainer .list{
    background-color: rgb(42, 48, 60);
  }
  .listcontainer .list{
    display: block;
    width: 15rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: -15rem;
    padding: 16px;
    z-index: 10;
  }
  .listcontainer.active .list{
    transition-duration: 0.5s;

    left: 0;
  }
  .listcontainer.active .list a div{ 
    padding:  12px 16px;
  }

  .svg{
    width: 24px;
    height: 24px;
    background-color: transparent !important;
    border: none !important;
  }
  .menuBtn{
    border: none;
    background-color: transparent;
  }
  .logo{
    display: flex;
    flex:1 1 0%;
    margin: 0 8px;
    font-size: 1.125rem;
    font-weight: 600;
  }
  .inputbox{
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0px 8px;
  }
  .input{
    display: none;
  }
  .inputContainer{
    padding: 0 8px;
  }
  .bgBtn{
    border: none;
    background-color: transparent;
    margin-right: 8px;
  }
  .bgBtn svg{
    display: block;
    width: 24px;
    height: 24px;
  }
  .dark{
    color: rgb(255 255 255);
    background-color: rgb(75, 85, 99);
    border: 1px solid hsl(220 13% 69%);
  }
  .light{
    color: rgb(31 41 55);
    background-color: rgb(209 213 219);
    border: 0px solid #e5e7eb;
  }
  .shopbox{
    display: flex;
    align-items: center;
    position: relative;
    width: 48px;
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
    margin-left: 4px;
  }
  .shopbox svg{
    vertical-align: middle;
    width: 24px;
    height: 24px;
  }
  .inputIcon{
    width: 24px;
    height: 24px;
    display: block;
    color: black;
    stroke: gray;
  }
  .shopCount{
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 8px;
    line-height: 16px;
    font-size: 12px;
    background-color: rgb(239 68 68 );
    border-radius: 9999px;
    color: white;
  }
  .searchui{
    width: 256px;
    max-height: 365px;
    position: absolute;
    z-index: 9999;
    top:64px;
    overflow: scroll;
    overflow-x: inherit;
  }
}
@media all and (min-width:768px) {

  .header{
    padding: 8px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
  }
  a{
    color: inherit;
  }
  .navbar{
    display: flex;
    align-items: center;
    max-width: 1360px;
    height: 48px;
    margin: 0 auto;
  }
  .logo{
    margin: 0 8px;
    font-size: 1.125rem;
    font-weight: 600;
  }
  .logo a{
    display: block;
    line-height: 1.75rem;
    text-decoration: none;
  }
  .list{
    margin: 0 0 0 8px;
    padding: 0;
    display: flex;
    flex: 1 1 0%;
    align-items: center;
    list-style: none;
    font-weight: 600;
  }
  .menuBtn{
    display: none;
  }
  .list a{
    display: block;
    text-decoration: none;
    padding: 0 12px;
    line-height: 30px;
  }
  .list .lidark:hover{
    background-color: rgba(166,173,186, 0.2);
    border-radius: 8px;
  }
  .list .liLight:hover{
    background-color: rgba(31, 41, 55, 0.2);
    border-radius: 8px;
  }
  .inputbox{
    display: flex;
    align-items: center;
    height: 48px;
  }
  .inputbox button{
    background-color: transparent;
    border: 0;
    color: inherit;
  }
  .inputbox button svg{
    width: 40px;
    height: 40px;
  }
  .input{
    width: 188px;
    height: 46px;
    padding: 0 16px;
    border: 0;
    border-radius: 4px;
    position: relative;
  }
  .inputIcon{
   display: none; 
  }
  .dark{
    color: rgb(255 255 255);
    background-color: rgb(75, 85, 99);
    border: 1px solid hsl(220 13% 69%);
  }
  .light{
    color: rgb(31 41 55);
    background-color: rgb(209 213 219);
    border: 0px solid #e5e7eb;
  }
  .shopbox{
    display: flex;
    align-items: center;
    position: relative;
    width: 48px;
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
    margin-left: 4px;
  }
  
  .shopbox svg{
    vertical-align: middle;
    width: 24px;
    height: 24px;
  }
  
  .shopCount{
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 8px;
    line-height: 16px;
    font-size: 12px;
    background-color: rgb(239 68 68 );
    border-radius: 9999px;
    color: white;
  }
  .searchui{
    width: 256px;
    max-height: 365px;
    position: absolute;
    z-index: 9999;
    top:64px;
    overflow: scroll;
    overflow-x: inherit;
  }
  .searchlist{
    width: 235px;
    height: 72px;
    display: flex;
    align-items: center;
  }
  .searchlistLink{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 12px 16px;
    background-color: white;
    color: rgb(75, 85, 99);
  }
  .searchlistLink:hover{
    background-color: rgb(229 231 235);
  }
  .producttitle{
    width: 200px;
    height: 48px;
    overflow: hidden;
  }
  input[type=text]::-ms-clear {
    display:none;
    }
}