.footerContainer{
  display: flex;
  padding: 40px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 2.5rem;
}
.dark .footerContainer{
  background-color: rgb(243, 244, 246);
}
.light .footerContainer{
  background-color: rgb(17, 24, 39);}
.footerLink a{
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
}
.footerIconList{
  display: flex;
  gap: 0.5rem;
}
.footerSns{
  display: flex;
  gap: 1rem;
}
.fill-current{
  fill: currentColor;
}
.footerCopyright{
  font-size: 14px;
  line-height: 20px;
}