@media screen and (max-width: 768px){
.productitemContainer{
  display: flex;
  justify-content: space-around;
}
.cartListContainer{
  flex-direction: column;
}
.cartImgContainer{
  width: auto !important;
  height: auto !important;
}
.detailConatiner{
  align-items: normal !important;
}
}

.productSection{
  max-width: 1360px;
  padding: 48px 8px 32px ;
  margin: 40px auto 0;
}
a{
  text-decoration: none;
}
.productTitle{
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
}
.productContainer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.itemContainer{
  width: 318px;
}
.productFigure{
  border: 1px solid rgb(229,231,235);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  height: 320px;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.itemImg{
  max-width: 50%;
  max-height: 50%;
}
.itemDetail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  height: 136px;
  padding: 32px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.light .itemDetail{
  background-color: rgb(55, 65, 81);
  border-color: rgb(55, 65, 81);
}
.dark .itemDetail{
  background-color: rgb(229, 231, 235);
  border: 1px solid rgb(229,231,235);
}
.itemTitle{
  line-height: 24px;
  font-weight: 600;
}
.itemPrice{
  line-height: 24px;
}
.productitemContainer{
  max-width: 1360px;
  margin: 0 auto;
  padding: 16px 8px 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.productsLink{
  width: 312px;
}
.productCategory{
  max-width: 1360px;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto 32px;
}
.cartEmptycontainer{
  display: block;
  margin-top: 56px;
}
.cartemptybtn{
  margin-top: 40px;
}
.cartEmptyTitle{
  font-size: 24px;
}
.cartImgContainer{
  width: 191px;
  height: 191px;
}
.cartImg{
  width: 100%;
  height: 12rem;
  object-fit: contain;
}
.btnContainer{
  display: flex;
}
.minusBtn{
  border: none;
  background-color: #66cc8a;
  line-height: 46px;
  padding: 0px 16px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.CountBtn{
  border: none;
  font-size: 14px;
  padding: 0px 16px;
  line-height: 46px;
  background-color: white;
}
.plusBtn{
  border: none;
  background-color: #66cc8a;
  line-height: 46px;
  padding: 0px 16px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
.cartListContainer{
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
}
.totalPriceContainer{
  display: inline-flex;
  align-items: center;
  height: 45px;
  margin: 40px 0px 80px;
}
.totalPrice{
  font-size: 24px;
}
.buyBtn{
  padding: 0px 16px;
  line-height: 45px;
  margin-left: 20px;
  font-size: 14px;
  background-color: #66cc8a;
  border-radius: 8px;
}
.modal{
  display: none;
}
.modaltoggleBtn{
  display: none;  
}
.modaltoggleBtn:checked + .modal{
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0%;
  justify-content: center;
  text-align: center;
  background-color: #29303D66;
}
:where(.modal){
  align-items: center;
}
.modalContainer{
  display: block;
  background-color: white;
  padding: 24px;
  max-height: calc(100vh - 5em);
  max-width: 32rem;
  width: 92%;
  box-shadow: 0 25px 50px -12px #00000040;
  border-radius: 16px;
}
.madalTitle{
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}
.buy{
  padding:16px 0px;
  text-align: left;
}
.modalQ{
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
}
.modalBtn{
  padding: 0px 16px;
  line-height: 48px;
}
.modalBtn.Yes{
  background-color: #66cc8a;
  border-radius: 8px;
}
.modalBtn.No{
  border: 1px solid black;
  border-radius: 8px;
  margin-left: 8px;
}
section{
  min-height: calc(100vh - 4rem - 425px);
}
.unknownTitle{
  font-size: 128px;
  font-weight: 700;
  text-align: center;
  margin-top: 112px;
}
.unknownP{
  font-size: 40px;
  margin: 16px 0px 40px;
  text-align: center;
}
.BtnContainer{
  text-align: center;
}
.unknownBtn{
  padding: 0 24px;
  background-color: #66cc8a;
  border: none;
  line-height: 64px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
}