@media screen and (max-width: 768px){
  .detailConatiner{
    flex-direction: column;
  }
  .imgContainer{
    width: 100%;
  }
  .ProductDeatilcontainer{
    padding: 32px !important;
    }
  .categoryContainer{
    overflow-x: auto;
  }
  .ProductDetailcategory{
    white-space: nowrap;
  }
  .productDetail{
    padding: 32px 0px !important;
  }
}

.productDetailSection{
  padding-top: 40px;
  min-height: calc(100vh - 4rem - 224px);
}
.light .productDetailSection{
  background-color: #1f2937;
}
.ProductDeatilcontainer{
  max-width: 1360px;
  margin: 0 auto;
  padding: 28px 8px 32px;
}
.categoryContainer{
  padding: 8px 0px;
}
.ProductDetailcategory{
  display: flex;
  font-size: 14px;
}
.beforeContent{
  display: flex;
  align-items: center;
}
.beforeContent::before{
  content: '';
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  margin: 0px 12px 0px 8px;
  border-top: 1px solid;
  border-right: 1px solid;
  rotate: 45deg;
  z-index: -1;
}
.detailConatiner{
  margin-top: 56px;
  display: flex;
  align-items: center;
}
.imgContainer{
  padding: 16px;
  border-radius: 8px;
  background-color: white;
}
.productImg{
  width: 100%;
  height: 18rem;
  object-fit: contain;
}
.productDetail{
  display: flex;
  flex: 1 1;
  flex-direction: column;
  gap: 0.5rem;
  padding: 32px 48px;
}
.productDetailTitle{
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}
.New{
  margin-left: 0.5rem;
  display: inline-block;
  font-size: 14px;
  height: 1.25rem;
  line-height: 1.25rem;
  background-color: rgb(234, 82, 52);
  border-radius: 30px;
  padding: 0px 9px;
  color: white;
}
.light .New{
  background-color: #1FB2A6;
}
.productDetailItem{
  display: flex;
  margin-top: 12px;
  align-items: center;
}
.productDescription{
  flex-grow: 1;
}
.star{
  width: 12px;
  height: 24px;
  background-color: #facc15;
  -webkit-mask-image: url('../../assets/productDetail/star.svg');
  -webkit-mask-size: 200%;
  -webkit-mask-position: left;
  -webkit-mask-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  appearance: none;
  margin: 0;
}
.star2{
  width: 12px;
  height: 24px;
  background-color: #facc15;
  -webkit-mask-image: url('../../assets/productDetail/star.svg');
  -webkit-mask-size: 200%;
  -webkit-mask-position: right;
  -webkit-mask-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  appearance: none;
  margin: 0;
}
.emstar{
  width: 12px;
  height: 24px;
  background-color: #facc1533;
  -webkit-mask-image: url('../../assets/productDetail/star.svg');
  -webkit-mask-size: 200%;
  -webkit-mask-position: left;
  -webkit-mask-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  appearance: none;
  margin: 0;
}
.emstar2{
  width: 12px;
  height: 24px;
  background-color: #facc1533;
  -webkit-mask-image: url('../../assets/productDetail/star.svg');
  -webkit-mask-size: 200%;
  -webkit-mask-position: right;
  -webkit-mask-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  appearance: none;
  margin: 0;
}
.starrating{
  margin-left: 8px;
}
.productPrice{
  font-size: 30px;
  margin: 8px 0px 16px;
}
.cartContainer{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.cartBtn{
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  height: 45px;
  padding: 0px 16px;
  border-radius: 8px;
  background-color: #66cc8a;
  border: none;
}
.light .cartBtn{
  background-color: rgb(100, 26, 230);
  color: white;
}
.carLink{
  font-size: 14px;
  font-weight: 600;
  margin-left: 4px;
  padding: 0 16px;
  height: 45px;
  line-height: 45px;
  border: 1px solid black;
  border-radius: 8px;
}
.light .carLink{
  border-color: white;
  color: white;
}
.light header nav ul {
  background-color: rgb(42, 48, 60);
}
.dark header nav ul{
  background-color: rgb(255, 255, 255);
}
.light header > nav > div > button > svg{
  fill: white;
}
.light .modalContainer{
  color: black;
}